# Exercício - Estatística Descritiva (medida de tendência central)

# Um pesquisador ficou em determinado cruzamento durante 18 dias. Nesse cruzamento movimentado ele mediu o nível de ruído (decibéis). Calcular a média

In [129]:
# carregar o dataset
# calcular a media
# df.Campo.mean()
import pandas as pd

df_total = pd.read_csv("nivel_ruido.csv")

df_total.mean()

numero do dia      9.500000
nivel_ruido_db    90.944444
dtype: float64

# Mediana
* Técnico
* Explicar para um público leigo
* Primeiro os dados tem que estar em ordem crescente
* Tamanho da amostra é par ou ímpar

In [130]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   numero do dia   18 non-null     int64
 1   nivel_ruido_db  18 non-null     int64
dtypes: int64(2)
memory usage: 420.0 bytes

* par (n=18)
* a media é calculada fazendo-se uma média dos valores que se encontram : 
* n/2 = 9° elemento e (n+2/2) = 10° elemento

In [131]:
# renomei a coluna nível ruído (dB) para nivel_ruido_db
df_total = df_total.rename(columns={'nivel ruido (dB)': 'nivel_ruido_db'})

print(df_total.columns.tolist())

['numero do dia', 'nivel_ruido_db']

In [132]:
df_total_ordenado = df_total.sort_values(by="nivel_ruido_db")

df_total_ordenado

    numero do dia  nivel_ruido_db
9              10              11
13             14              12
14             15              12
0               1              85
1               2              92
2               3              95
3               4              98
4               5              99
5               6             101
6               7             103
7               8             105
8               9             107
10             11             112
11             12             114
12             13             117
15             16             122
16             17             125
17             18             127

In [133]:
df_total.nivel_ruido_db.median()

np.float64(102.0)

* Na frequência
* A moda vai nos auxiliar nos desafios onde precisaremos calcular a frequência

In [134]:
df_total.nivel_ruido_db.mode()

0    12
Name: nivel_ruido_db, dtype: int64

In [135]:
df_total.head(2) # nos parenteses como argumento para mostrar a quantidade a ser apresentada como cabeçalho

   numero do dia  nivel_ruido_db
0              1              85
1              2              92

In [136]:
df_total.describe()

       numero do dia  nivel_ruido_db
count      18.000000       18.000000
mean        9.500000       90.944444
std         5.338539       38.196816
min         1.000000       11.000000
25%         5.250000       92.750000
50%         9.500000      102.000000
75%        13.750000      113.500000
max        18.000000      127.000000

In [137]:
df_total["nivel_ruido_db"] # exibir por coluna 
df_total.nivel_ruido_db # outra possibilidade

0      85
1      92
2      95
3      98
4      99
5     101
6     103
7     105
8     107
9      11
10    112
11    114
12    117
13     12
14     12
15    122
16    125
17    127
Name: nivel_ruido_db, dtype: int64

In [138]:
df_total["nivel_ruido_db"] [0:5] # fatia por índices

0    85
1    92
2    95
3    98
4    99
Name: nivel_ruido_db, dtype: int64

In [139]:
df_total.nivel_ruido_db [0:5] # fatia por índices

0    85
1    92
2    95
3    98
4    99
Name: nivel_ruido_db, dtype: int64

In [140]:
df_total["nivel_ruido_db"] [8:14] # fatia por índices

8     107
9      11
10    112
11    114
12    117
13     12
Name: nivel_ruido_db, dtype: int64

In [141]:
df_total.nivel_ruido_db [8:14] # fatia por índices

8     107
9      11
10    112
11    114
12    117
13     12
Name: nivel_ruido_db, dtype: int64

In [142]:
df_total.columns # mostra as colunas

Index(['numero do dia', 'nivel_ruido_db'], dtype='object')

# Quero o nível de ruído do 10°

In [145]:
df_total.head()

   numero do dia  nivel_ruido_db
0              1              85
1              2              92
2              3              95
3              4              98
4              5              99

In [143]:
df_total.loc[10] # mostra posição e elemento constante

numero do dia      11
nivel_ruido_db    112
Name: 10, dtype: int64

In [146]:
df_total.loc[df_total.nivel_ruido_db >= 117] # parâmetros de condição

    numero do dia  nivel_ruido_db
12             13             117
15             16             122
16             17             125
17             18             127