# O senac ele possui um departamento de jogos. Qual o problema: com a mudança das gerações e perfil de jogadores, o time de jogos tem diversas dúvidas que tipo é mais comercial. Qual plataforma está sendo mais utilizável, que tipo de jogo podemos lançar (produto)

1. Entrar no Kaggle
2. Escolher um Dataset
3. Importar Pandas (carregar o dataset no google colab)
4. Usar funções (head), tail(), series (tupla, lista, dict)
5. Estatísticas Descritiva: describe(), mostrar uma coluna, fatiar colunas, info(), len()
6. Outras (loc(), iloc(), isnull(), fillna(), isna(), pivot(), drop(), lambda, mean(), median(), mode())

In [33]:
import pandas as pd

df_total = pd.read_csv("imdb_top_movies.csv")

In [34]:
df_total.head()

,Rank,Title,Year,Rating,Duration,IMDb URL,Image URL
0,1,The Shawshank Redemption,1994,9.3,2h 22m,https://www.imdb.com/title/tt0111161/,https://m.media-amazon.com/images/M/MV5BMDAyY2...
1,2,The Godfather,1972,9.2,2h 55m,https://www.imdb.com/title/tt0068646/,https://m.media-amazon.com/images/M/MV5BNGEwYj...
2,3,The Dark Knight,2008,9.1,2h 32m,https://www.imdb.com/title/tt0468569/,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,4,The Godfather Part II,1974,9.0,3h 22m,https://www.imdb.com/title/tt0071562/,https://m.media-amazon.com/images/M/MV5BMDIxMz...
4,5,12 Angry Men,1957,9.0,1h 36m,https://www.imdb.com/title/tt0050083/,https://m.media-amazon.com/images/M/MV5BYjE4Nz...

In [35]:
df_total.tail()

,Rank,Title,Year,Rating,Duration,IMDb URL,Image URL
245,246,The Grapes of Wrath,1940,8.1,2h 9m,https://www.imdb.com/title/tt0032551/,https://m.media-amazon.com/images/M/MV5BZDgzZj...
246,247,To Be or Not to Be,1942,8.1,1h 39m,https://www.imdb.com/title/tt0035446/,https://m.media-amazon.com/images/M/MV5BMTA5OT...
247,248,Gangs of Wasseypur,2012,8.2,5h 21m,https://www.imdb.com/title/tt1954470/,https://m.media-amazon.com/images/M/MV5BMTc5Nj...
248,249,Drishyam,2015,8.2,2h 43m,https://www.imdb.com/title/tt4430212/,https://m.media-amazon.com/images/M/MV5BM2NmMG...
249,250,The Help,2011,8.1,2h 26m,https://www.imdb.com/title/tt1454029/,https://m.media-amazon.com/images/M/MV5BMTM5OT...

In [36]:
df_total.describe()

             Rank         Year      Rating
count  250.000000   250.000000  250.000000
mean   125.500000  1988.732000    8.311200
std     72.312977    25.556068    0.230144
min      1.000000  1921.000000    8.000000
25%     63.250000  1973.000000    8.100000
50%    125.500000  1995.500000    8.200000
75%    187.750000  2009.000000    8.400000
max    250.000000  2025.000000    9.300000

In [37]:
df_total.Rating [8:14]

8     8.8
9     8.8
10    8.8
11    8.8
12    8.8
13    8.8
Name: Rating, dtype: float64

In [38]:
df_total.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       250 non-null    int64
 1   Title      250 non-null    object
 2   Year       250 non-null    int64
 3   Rating     250 non-null    float64
 4   Duration   250 non-null    object
 5   IMDb URL   250 non-null    object
 6   Image URL  250 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 13.8+ KB

In [39]:
num_linhas = len(df_total)
print(f"Número de linhas: {num_linhas}")

Número de linhas: 250

In [40]:
df_total.loc[df_total.Rating <= 117]

,Rank,Title,Year,Rating,Duration,IMDb URL,Image URL
0,1,The Shawshank Redemption,1994,9.3,2h 22m,https://www.imdb.com/title/tt0111161/,https://m.media-amazon.com/images/M/MV5BMDAyY2...
1,2,The Godfather,1972,9.2,2h 55m,https://www.imdb.com/title/tt0068646/,https://m.media-amazon.com/images/M/MV5BNGEwYj...
2,3,The Dark Knight,2008,9.1,2h 32m,https://www.imdb.com/title/tt0468569/,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,4,The Godfather Part II,1974,9.0,3h 22m,https://www.imdb.com/title/tt0071562/,https://m.media-amazon.com/images/M/MV5BMDIxMz...
4,5,12 Angry Men,1957,9.0,1h 36m,https://www.imdb.com/title/tt0050083/,https://m.media-amazon.com/images/M/MV5BYjE4Nz...
...,...,...,...,...,...,...,...
245,246,The Grapes of Wrath,1940,8.1,2h 9m,https://www.imdb.com/title/tt0032551/,https://m.media-amazon.com/images/M/MV5BZDgzZj...
246,247,To Be or Not to Be,1942,8.1,1h 39m,https://www.imdb.com/title/tt0035446/,https://m.media-amazon.com/images/M/MV5BMTA5OT...
247,248,Gangs of Wasseypur,2012,8.2,5h 21m,https://www.imdb.com/title/tt1954470/,https://m.media-amazon.com/images/M/MV5BMTc5Nj...
248,249,Drishyam,2015,8.2,2h 43m,https://www.imdb.com/title/tt4430212/,https://m.media-amazon.com/images/M/MV5BM2NmMG...
249,250,The Help,2011,8.1,2h 26m,https://www.imdb.com/title/tt1454029/,https://m.media-amazon.com/images/M/MV5BMTM5OT...

In [41]:
df_total.iloc[0, 2]

np.int64(1994)

In [42]:
mascara_nulos = df_total.isnull()
print(mascara_nulos)

      Rank  Title   Year  Rating  Duration  IMDb URL  Image URL
0    False  False  False   False     False     False      False
1    False  False  False   False     False     False      False
2    False  False  False   False     False     False      False
3    False  False  False   False     False     False      False
4    False  False  False   False     False     False      False
..     ...    ...    ...     ...       ...       ...        ...
245  False  False  False   False     False     False      False
246  False  False  False   False     False     False      False
247  False  False  False   False     False     False      False
248  False  False  False   False     False     False      False
249  False  False  False   False     False     False      False

[250 rows x 7 columns]

In [43]:
# Apenas na coluna 'Year', preenche com 0
df_total['Year'] = df_total['Year'].fillna(0)

# Apenas na coluna 'Title', preenche com 'Desconhecido'
df_total['Title'] = df_total['Title'].fillna('Desconhecido')

print(df_total)

     Rank                     Title  Year  Rating Duration  \
0       1  The Shawshank Redemption  1994     9.3   2h 22m
1       2             The Godfather  1972     9.2   2h 55m
2       3           The Dark Knight  2008     9.1   2h 32m
3       4     The Godfather Part II  1974     9.0   3h 22m
4       5              12 Angry Men  1957     9.0   1h 36m
..    ...                       ...   ...     ...      ...
245   246       The Grapes of Wrath  1940     8.1    2h 9m
246   247        To Be or Not to Be  1942     8.1   1h 39m
247   248        Gangs of Wasseypur  2012     8.2   5h 21m
248   249                  Drishyam  2015     8.2   2h 43m
249   250                  The Help  2011     8.1   2h 26m

                                  IMDb URL  \
0    https://www.imdb.com/title/tt0111161/
1    https://www.imdb.com/title/tt0068646/
2    https://www.imdb.com/title/tt0468569/
3    https://www.imdb.com/title/tt0071562/
4    https://www.imdb.com/title/tt0050083/
..                                     ...
245  https://www.imdb.com/title/tt0032551/
246  https://www.imdb.com/title/tt0035446/
247  https://www.imdb.com/title/tt1954470/
248  https://www.imdb.com/title/tt4430212/
249  https://www.imdb.com/title/tt1454029/

                                             Image URL
0    https://m.media-amazon.com/images/M/MV5BMDAyY2...
1    https://m.media-amazon.com/images/M/MV5BNGEwYj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMDIxMz...
4    https://m.media-amazon.com/images/M/MV5BYjE4Nz...
..                                                 ...
245  https://m.media-amazon.com/images/M/MV5BZDgzZj...
246  https://m.media-amazon.com/images/M/MV5BMTA5OT...
247  https://m.media-amazon.com/images/M/MV5BMTc5Nj...
248  https://m.media-amazon.com/images/M/MV5BM2NmMG...
249  https://m.media-amazon.com/images/M/MV5BMTM5OT...

[250 rows x 7 columns]

In [44]:
df_total.describe()

             Rank         Year      Rating
count  250.000000   250.000000  250.000000
mean   125.500000  1988.732000    8.311200
std     72.312977    25.556068    0.230144
min      1.000000  1921.000000    8.000000
25%     63.250000  1973.000000    8.100000
50%    125.500000  1995.500000    8.200000
75%    187.750000  2009.000000    8.400000
max    250.000000  2025.000000    9.300000

In [45]:
df_pivotado = df_total.pivot(index='Rank', columns='Year', values='Rating')

print("\n--- DataFrame Pivotado (Wide) ---")
print(df_pivotado)

--- DataFrame Pivotado (Wide) ---
Year  1921  1924  1925  1926  1927  1928  1931  1936  1939  1940  ...  2016  \
Rank                                                              ...
1      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
2      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
3      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
4      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
5      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
...    ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...   ...
246    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   8.1  ...   NaN
247    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
248    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
249    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN
250    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN

Year  2017  2018  2019  2020  2021  2022  2023  2024  2025
Rank
1      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
246    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
247    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
248    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
249    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
250    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[250 rows x 86 columns]

In [46]:
# Removendo colunas que não serão usadas na análise
df_limpo = df_total.drop(columns=['IMDb URL', 'Image URL'])

print(df_limpo.head())

   Rank                     Title  Year  Rating Duration
0     1  The Shawshank Redemption  1994     9.3   2h 22m
1     2             The Godfather  1972     9.2   2h 55m
2     3           The Dark Knight  2008     9.1   2h 32m
3     4     The Godfather Part II  1974     9.0   3h 22m
4     5              12 Angry Men  1957     9.0   1h 36m

In [47]:
# 2. Corrigir a conversão usando lambda com uma verificação condicional (if/else)
df_total['Duration_Minutes'] = df_total['Duration'].apply(
    lambda x: (
        # Se 'h' estiver presente (formato 'Xh Ym')
        int(x.split('h')[0].strip()) * 60 + int(x.split('h')[1].replace('m', '').strip())
        if 'h' in x
        # Senão (formato 'Ym')
        else int(x.replace('m', '').strip())
    )
)

print("As 5 primeiras e a linha do 'Sherlock Jr.' convertidas:")
print(df_total.iloc[[0, 205]][['Title', 'Duration', 'Duration_Minutes']])

As 5 primeiras e a linha do 'Sherlock Jr.' convertidas:
                        Title Duration  Duration_Minutes
0    The Shawshank Redemption   2h 22m               142
205              Sherlock Jr.      45m                45

In [48]:
media_rating = df_total['Rating'].mean()
print(f"A Média de Avaliação (Rating) dos {len(df_total)} filmes é: {media_rating:.2f}")

A Média de Avaliação (Rating) dos 250 filmes é: 8.31

In [49]:
# A mediana da coluna 'Rating'
mediana = df_total['Rating'].median()
print(mediana)

8.2

In [50]:
# A moda da coluna 'Rating' 
mode = df_total.Rating.mode()
print(mode)

0    8.1
Name: Rating, dtype: float64