As funções embutidas, ou "built-in", do Python são aquelas que já vêm prontas para usar, sem a necessidade de importar bibliotecas. Elas realizam tarefas essenciais e comuns, facilitando a vida de qualquer programador.

Funções para entrada e saída

In [1]:
# print(): função para saída
nome = "Ana"
print("Olá,", nome) # Olá, Ana

Olá, Ana

In [2]:
# input(): Permite que o usuário digite dados, que são retornados como uma string.
idade = input("Qual a sua idade? ")
print("Você tem", idade, "anos.")

Você tem 28 anos.

Funções para manipulação de dados

In [3]:
# int(), str(), float(): Convertem valores entre os tipos inteiro, string e ponto flutuante, respectivamente.
numero_texto = "10"
numero_inteiro = int(numero_texto)
print(numero_inteiro + 5) # 15

valor_decimal = 7.5
texto_decimal = str(valor_decimal)
print(texto_decimal) # "7.5"

15
7.5

In [4]:
# len(): Retorna o tamanho (a quantidade de itens) de um objeto, como uma string ou uma lista.
frase = "Olá, mundo!"
tamanho = len(frase)
print(tamanho) # 11

lista_compras = ["pão", "leite", "café"]
quantidade = len(lista_compras)
print(quantidade) # 3

11
3

In [5]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(len(df))
# Saída: 3

3

Funções matemáticas

In [6]:
# max() e min(): Encontram o maior e o menor valor em uma sequência de dados, como uma lista.
numeros = [10, 5, 20, 8]
maior = max(numeros)
menor = min(numeros)
print("O maior número é:", maior) # O maior número é: 20
print("O menor número é:", menor) # O menor número é: 5

O maior número é: 20
O menor número é: 5

In [7]:
# sum(): Soma todos os itens de uma sequência numérica.
numeros = [1, 2, 3, 4]
total = sum(numeros)
print(total) # 10

10

In [8]:
# Usando o método otimizado do Pandas
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
soma_pandas = df['A'].sum()
soma_pandas = df['B'].sum()
print(soma_pandas)
# Saída: 6

15

In [9]:
import pandas as pd

# 1. Criação do DataFrame de Exemplo
dados = {
    'Nome': ['Alice', 'Bob', 'Carlos', 'Diana', 'Eva', 'Fábio', 'Gabi'],
    'Idade': [25, 30, 25, 45, 30, 25, 50],
    'Salario': [4500, 6000, 4500, 8000, 6000, 5000, 9000]
}
df = pd.DataFrame(dados)

print("--- DataFrame Original ---")
print(df)
print("-" * 30)

# 2. Cálculo das Medidas para a coluna 'Idade'

# Média: A soma de todos os valores dividida pelo número de valores.
media_idade = df['Idade'].mean()

# Mediana: O valor que divide o conjunto de dados em duas metades (o valor central).
mediana_idade = df['Idade'].median()

# Moda: O valor que mais se repete no conjunto de dados.
# Nota: O .mode() retorna uma Series, pois pode haver mais de uma moda.
moda_idade = df['Idade'].mode()

print("--- Estatísticas da Idade ---")
print(f"Média de Idade:   {media_idade:.2f}")
print(f"Mediana de Idade: {mediana_idade:.2f}")
print(f"Moda de Idade:\n{moda_idade}")
print("-" * 30)

# 3. Cálculo das Medidas para a coluna 'Salario'

media_salario = df['Salario'].mean()
mediana_salario = df['Salario'].median()
moda_salario = df['Salario'].mode()

print("--- Estatísticas do Salário ---")
print(f"Média de Salário:   {media_salario:.2f}")
print(f"Mediana de Salário: {mediana_salario:.2f}")
# Observe que há duas modas para salário (4500 e 6000)
print(f"Moda de Salário:\n{moda_salario}")
print("-" * 30)

# Dica: O .describe() faz tudo de uma vez para colunas numéricas
print("--- Resumo Completo com .describe() ---")
print(df[['Idade', 'Salario']].describe())

--- DataFrame Original ---
     Nome  Idade  Salario
0   Alice     25     4500
1     Bob     30     6000
2  Carlos     25     4500
3   Diana     45     8000
4     Eva     30     6000
5   Fábio     25     5000
6    Gabi     50     9000
------------------------------
--- Estatísticas da Idade ---
Média de Idade:   32.86
Mediana de Idade: 30.00
Moda de Idade:
0    25
Name: Idade, dtype: int64
------------------------------
--- Estatísticas do Salário ---
Média de Salário:   6142.86
Mediana de Salário: 6000.00
Moda de Salário:
0    4500
1    6000
Name: Salario, dtype: int64
------------------------------
--- Resumo Completo com .describe() ---
           Idade      Salario
count   7.000000     7.000000
mean   32.857143  6142.857143
std    10.350983  1749.149453
min    25.000000  4500.000000
25%    25.000000  4750.000000
50%    30.000000  6000.000000
75%    37.500000  7000.000000
max    50.000000  9000.000000

In [10]:
# O lambda é nativo do Python e usado DENTRO do Pandas.
# Exemplo: Aplicando uma função lambda para dobrar os valores.

lista_python = [10, 20, 30, 40, 50]
serie_pandas = pd.Series(lista_python)

# Uso Nativo:
lista_dobrada_nativo = [x * 2 for x in lista_python]

# Uso Pandas (com método apply e lambda):
serie_dobrada_pandas = serie_pandas.apply(lambda x: x * 2)

print(f"5. Lambda/Apply (Nativo): {lista_dobrada_nativo}")
print(f"5. Lambda/Apply (Pandas):\n{serie_dobrada_pandas}\n")

5. Lambda/Apply (Nativo): [20, 40, 60, 80, 100]
5. Lambda/Apply (Pandas):
0     20
1     40
2     60
3     80
4    100
dtype: int64

In [11]:
# range(): Gera uma sequência de números, usada geralmente em laços de repetição for.
for i in range(3):
    print("Contagem:", i)
# Contagem: 0
# Contagem: 1
# Contagem: 2

Contagem: 0
Contagem: 1
Contagem: 2

Funções para listas e iteráveis

In [12]:
# append(): Adiciona um item ao final de uma lista (na verdade, é um método, mas frequentemente listado entre as funções básicas).
frutas = ["maçã", "banana"]
frutas.append("laranja")
print(frutas) # ['maçã', 'banana', 'laranja']

['maçã', 'banana', 'laranja']

In [13]:
# sorted(): Retorna uma nova lista com os itens de um iterável em ordem crescente. A lista original não é modificada.
numeros = [4, 1, 3, 2]
lista_ordenada = sorted(numeros)
print(lista_ordenada) # [1, 2, 3, 4]
print(numeros) # [4, 1, 3, 2]

[1, 2, 3, 4]
[4, 1, 3, 2]

Função para verificação de tipo

In [14]:
# type(): Retorna o tipo de um objeto
x = 10
print(type(x)) # <class 'int'>

y = "Olá"
print(type(y)) # <class 'str'>

<class 'int'>
<class 'str'>

In [15]:
import pandas as pd

series = pd.Series([1, 2, 3])
print(type(series))
# Saída: <class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

Função para agrupamento

In [16]:
# zip(): Agrupa elementos de dois ou mais iteráveis em pares. É útil para percorrer várias listas simultaneamente.
nomes = ["João", "Maria", "Pedro"]
idades = [30, 25, 35]

for nome, idade in zip(nomes, idades):
  print(f"{nome} tem {idade} anos.")

João tem 30 anos.
Maria tem 25 anos.
Pedro tem 35 anos.

Funções para trabalhar com dados

In [17]:
# any(): Retorna True se pelo menos um elemento em um iterável for verdadeiro.
# all(): Retorna True se todos os elementos em um iterável forem verdadeiros.
lista1 = [True, False, True]
print(any(lista1)) # True

lista2 = [True, True, True]
print(all(lista2)) # True

lista3 = [True, False, False]
print(all(lista3)) # False

True
True
False

In [18]:
lista_verdadeira = [False, 0, "Olá"]
print(any(lista_verdadeira))  # Saída: True

lista_falsa = [False, 0, ""]
print(any(lista_falsa))       # Saída: False

True
False

In [19]:
# round(): Arredonda um número para um número específico de casas decimais.
# Arredonda para o número inteiro mais próximo
valor1 = round(3.14159)
print(valor1)  # Saída: 3

# Arredonda para 2 casas decimais
valor2 = round(3.14159, 2)
print(valor2)  # Saída: 3.14

3
3.14

In [20]:
# Criando um DataFrame de exemplo
df = pd.DataFrame({'valores': [3.14159, 2.71828, 1.61803]})

# Usando a função embutida em um loop (lento e ineficiente)
valores_arredondados = [round(v, 2) for v in df['valores']]
print(valores_arredondados)
# Saída: [3.14, 2.72, 1.62]

[3.14, 2.72, 1.62]

In [21]:
# bool(): Converte um valor em um booleano (True ou False). Valores vazios (como 0, "", [], (), {}) ou None são convertidos para False.
print(bool(10))        # Saída: True
print(bool("Olá"))     # Saída: True
print(bool([1, 2]))    # Saída: True
print(bool(""))        # Saída: False
print(bool(0))         # Saída: False
print(bool([]))        # Saída: False
print(bool(()))        # Saída: False
print(bool({}))        # Saída: False
print(bool(None))      # Saída: False

True
True
True
False
False
False
False
False
False

In [22]:
# divmod(): Retorna o quociente e o resto da divisão de dois números, como uma tupla.
quociente_e_resto = divmod(10, 3)
print(quociente_e_resto)  # Saída: (3, 1)

# É útil quando você precisa dos dois resultados
quociente, resto = divmod(10, 3)
print(f"Quociente: {quociente}, Resto: {resto}")
# Saída: Quociente: 3, Resto: 1

(3, 1)
Quociente: 3, Resto: 1

Funções para iteráveis

In [23]:

# reversed(): Retorna um iterador reverso de uma sequência. Não modifica a lista original.
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_reversa = reversed(numeros)
print(list(lista_reversa))  # Saída: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
print(numeros)              
# A lista original não foi alterada

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
# map(): Aplica uma função a cada item de um iterável e retorna um iterador dos resultados.
def elevar_ao_quadrado(numero):
    return numero ** 2

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros_ao_quadrado = map(elevar_ao_quadrado, numeros)
print(list(numeros_ao_quadrado))  # Saída: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
# filter(): Filtra os elementos de um iterável, retornando apenas aqueles para os quais uma função retorna True.
def eh_par(numero):
    return numero % 2 == 0

numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros_pares = filter(eh_par, numeros)
print(list(numeros_pares))  # Saída: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

Funções de inspeção e ajuda

In [26]:
# dir(): Retorna uma lista de nomes válidos no escopo atual ou uma lista de atributos e métodos de um objeto, caso seja fornecido um.
nome = "Python"
print(dir(nome)) # Exibe todos os métodos e atributos de uma string

# Exibe os nomes no escopo atual
# print(dir())

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [27]:
# help(): Invoca o sistema de ajuda interativo. Quando chamada com um objeto, ela exibe a documentação desse objeto.
# Exibe a documentação da função print
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Funções para manipulação de strings

In [28]:
texto = "  Olá, Python!  "

# Transforma todas as letras em maiúsculas
print(texto.upper())  # Saída: "  OLÁ, PYTHON!  "

# Transforma todas as letras em minúsculas
print(texto.lower())  # Saída: "  olá, python!  "

# Remove espaços em branco do início e do fim
print(texto.strip())  # Saída: "Olá, Python!"

# Substitui uma parte da string por outra
novo_texto = "Programar em Python é divertido!".replace("divertido", "incrível")
print(novo_texto)  # Saída: "Programar em Python é incrível!"

  OLÁ, PYTHON!
  olá, python!
Olá, Python!
Programar em Python é incrível!

Funções para trabalhar com caracteres

In [29]:
# ord(): Retorna o número inteiro que representa o código Unicode de um caractere. É o inverso de chr().
# Obtém o código Unicode da letra 'A'
print(ord('A'))  # Saída: 65

# Obtém o código Unicode do símbolo '@'
print(ord('@'))  # Saída: 64

65
64

In [30]:
# chr(): Retorna o caractere correspondente a um código Unicode. É o inverso de ord().
# Converte o código 65 para o seu caractere correspondente
print(chr(65))   # Saída: 'A'

# Converte o código 97 para o seu caractere correspondente (letra minúscula)
print(chr(97))   # Saída: 'a'

A
a

Fatias de Listas

In [31]:
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 1. Fatiando de um ponto a outro
# Para obter os elementos do índice 2 ao 5 (exclusivo), usamos [2:5].
sublista = numeros[2:5]
print(sublista)
# Saída: [2, 3, 4]

[2, 3, 4]

In [32]:
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 2. Fatiando do início ao fim
# Para obter uma fatia que comece em um índice específico e vá até o final da lista, use [:].
do_quarto_em_diante = numeros[3:]
print(do_quarto_em_diante)
# Saída: [3, 4, 5, 6, 7, 8, 9]

[3, 4, 5, 6, 7, 8, 9]

In [33]:
# 3. Fatiando do início até um ponto
# Para obter uma fatia do começo da lista até um índice específico, use [:].
ate_o_quinto = numeros[:5]
print(ate_o_quinto)
# Saída: [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

In [34]:
# 4. Fatiando com passo
# Para pegar elementos de forma alternada, defina o valor do passo.
# Pega elementos de 2 em 2
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
passo_dois = numeros[::2]
print(passo_dois)
# Saída: [0, 2, 4, 6, 8]

# Pega elementos de 3 em 3, começando do índice 1
passo_tres_com_inicio = numeros[1::3]
print(passo_tres_com_inicio)
# Saída: [1, 4, 7]

[0, 2, 4, 6, 8]
[1, 4, 7]

In [35]:
# 5. Fatiando com índices negativos
# Índices negativos são usados para fatiar a lista a partir do final.
# Pega os três últimos elementos
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
tres_ultimos = numeros[-3:]
print(tres_ultimos)
# Saída: [7, 8, 9]

# Pega todos os elementos, exceto os três últimos
exclui_tres_ultimos = numeros[:-3]
print(exclui_tres_ultimos)
# Saída: [0, 1, 2, 3, 4, 5, 6]

[7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]

In [36]:
# 6. Invertendo uma lista
# Uma maneira muito comum e elegante de inverter uma lista é usar um passo negativo de -1.
numeros = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lista_invertida = numeros[::-1]
print(lista_invertida)
# Saída: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [37]:
# 7. Fatiando e substituindo
# Você pode usar o fatiamento para substituir uma porção da lista por novos elementos.
numeros_modificavel = [0, 1, 2, 3, 4, 5]
numeros_modificavel[1:4] = [10, 20, 30]
print(numeros_modificavel)
# Saída: [0, 10, 20, 30, 4, 5]

[0, 10, 20, 30, 4, 5]