In [14]:
# Datasete tipo .CSV
# df = DataFrame
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/romulodf-cesar/datasets_senac/refs/heads/main/tracking.csv')

In [15]:
df.head()

   inicial  palestras  contato  comprou  patrocinio
0        1          1        0        0           0
1        1          1        0        0           0
2        1          1        0        0           0
3        1          1        0        0           0
4        1          1        0        0           0

In [16]:
df.tail()

    inicial  palestras  contato  comprou  patrocinio
94        0          0        1        0           0
95        1          1        1        1           0
96        0          0        1        0           0
97        0          1        0        0           0
98        0          0        0        0           0

In [17]:

# Fazendo uma estimativa de coluna comprou
y = df['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [18]:
# Fazendo uma estimativa de coluna - comprou
y = df['comprou']
y.tail()

94    0
95    1
96    0
97    0
98    0
Name: comprou, dtype: int64

In [19]:
# Fazendo uma estimativa das colunas - inicial, palestras, contato, patrocinio
x = df[["inicial", "palestras", "contato", "patrocinio"]]
x.head()

   inicial  palestras  contato  patrocinio
0        1          1        0           0
1        1          1        0           0
2        1          1        0           0
3        1          1        0           0
4        1          1        0           0

In [20]:
df.shape

(99, 5)

In [21]:
# Vamos separar quem é treino e quem é teste
# Fatiamento

treino_x = x[:75] # os primeiros 75 elementos
treino_y = y[:75] # os primeiros 75 elementos

teste_x = x[75:] # a partir do 75
teste_y = y[75:] # a partir do 75

In [22]:
print(f"Treinaremos com {len(treino_x)} elementos") 
print(f"Treinaremos com {len(teste_x)} elementos")

Treinaremos com 75 elementos
Treinaremos com 24 elementos

In [24]:
# Vamos treinar o modelo
from sklearn.svm import LinearSVC
modelo = LinearSVC()
# aqui eu vou treinar o modelo
modelo.fit(treino_x, treino_y)
# aqui eu vou fazer as previsões
# o modelo. predict serve para fazer previsões
# teste_x são os dados que eu quero prever
# teste_x são as páginas que o usuário visitou
# teste_y é se ele comprou ou não
previsoes = modelo.predict(teste_x)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
from sklearn.metrics import accuracy_score
# vou calcular a taxa de acerto
# teste_y é o que realmente aconteceu , comprou ou não
# previsoes é o que o modelo previu, comprou ou não
acuracia = accuracy_score(teste_y, previsoes) * 100
# acurácia é a taxa de acerto
print(f"A acurácia foi de {acuracia:.2f}%")